<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.wangning.mapper.AnswerMapper">

    <select id="selectById" parameterType="int" resultType="xin.wangning.domain.Answer">
        select * from answer_tb where testid=#{id}
    </select>

    <select id="selectByQuestionId" parameterType="int" resultType="xin.wangning.domain.Answer">
        select * from answer_tb where questionid=#{questionid}
    </select>

    <select id="selectAll" resultType="xin.wangning.domain.Answer">
        select * from answer_tb
    </select>

    <insert id="insertAnswer" parameterType="xin.wangning.domain.Answer" useGeneratedKeys="true" keyProperty="id">
        insert into answer_tb(author,author_url,agree_num,content,question_id,discuss_num)values(#{author},#{authorUrl},#{agreeNum},#{content},#{questionID},#{discussNum})
    </insert>

</mapper>