<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.wangning.mapper.ArticleDiscussMapper">
    <select id="selectAll" resultType="xin.wangning.domain.ArticleDiscuss">
        select * from article_discuss_tb
    </select>

    <insert id="insertArticleDiscuss" parameterType="xin.wangning.domain.ArticleDiscuss" useGeneratedKeys="true" keyProperty="id">
        insert into article_discuss_tb(article_id,author_name,author_url,content,agree_num)values(#{articleId},#{authorName},#{author_url},#{content},#{agreeNum})
    </insert>
</mapper>