<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.wangning.mapper.QuestionMapper">

    <select id="selectById" parameterType="int" resultType="xin.wangning.domain.Question">
        select * from question_tb where id=#{id}
    </select>

    <select id="selectAll" resultType="xin.wangning.domain.Question">
        select * from question_tb
    </select>

    <insert id="insertQuestion" parameterType="xin.wangning.domain.Question" useGeneratedKeys="true" keyProperty="id">
        insert into question_tb(title,url,content,scan_num,focus_num,date_create,date_modify)values(#{title},#{url},#{content},#{scanNum},#{focusNum},#{dateCreate},#{dateModify})
    </insert>

</mapper>